export(calculateCriteria.EMLasso.1l.lognet)
export(checkConvergence.lognet)
export(crossValidate)
export(cv.logreg)
export(cv.MI.logreg)
export(EMLasso.1l.lognet)
export(EMLasso.1l.lognet.cv)
export(EMLasso.1l.lognet.cv.param)
export(EMLasso.1l.lognet.onefold)
export(EMLasso.1l.lognet.param)
export(EMLasso.lognet.cv)
export(findReasonableLambdaHelper)
export(fit.lognet)
export(fit.logreg)
export(fullDataEMLassoAndGLoMo)
export(getLambdas)
export(getMinMaxPosLikeGlmnet)
export(getSortedReducedResultList)
export(lognetProbWrapper)
export(LognetValidationData)
export(mimic_cv_lognet)
export(postprocess.reduce.1l.emlasso)
export(predictProb)
export(refreshCriteria)
export(repeatedlyPredictOut)
export(repeatedPredictedProbAUC)
export(setDebugmodeEMLasso)
export(simplyValidate)
export(sortReducedResultList)
export(validateFunction.lognet)
export(validationOutAndPredProb)
import(addendum)
import(glmnet)
import(GLoMo)
import(Matrix)
import(NumDfr)
S3method("[",EMLasso.1l.lognet.cv.param)
S3method("[",EMLasso.1l.lognet.param)
S3method("[",LambdaHelper)
S3method(coef,cv.1l.emlasso)
S3method(coef,cvpart.emlasso)
S3method(crossValidate,EMLasso.1l.lognet)
S3method(crossValidate,EMLasso.lognet)
S3method(getBeta,cv.emlasso)
S3method(getLambdas,LambdaHelper)
S3method(getLambdas,lambdaregion)
S3method(getMinMaxPosLikeGlmnet,cv.glmnet)
S3method(getMinMaxPosLikeGlmnet,default)
S3method(length,EMLasso.1l.lognet.cv.param)
S3method(length,EMLasso.1l.lognet.param)
S3method(predictProb,lognetProbWrapper)
S3method(reduce,cv.1l.emlasso)
S3method(reduce,EMLasso.lognet.cv)
S3method(refreshCriteria,cv.1l.emlasso)
S3method(refreshCriteria,cvpart.emlasso)
S3method(simpleplot,cv.emlasso)
S3method(simplyValidate,EMLasso.1l.lognet)
S3method(simplyValidate,EMLasso.lognet)
S3method(validationOutAndPredProb,cv.1l.emlasso)
S3method(validationOutAndPredProb,cvpart.emlasso)
