S3method("[",EMLasso.1l.param)
S3method("[",LambdaHelper)
S3method(acceptOrRejectFunction,default)
S3method(acceptOrRejectFunction,lognet)
S3method(collectImputationModels,EMLassoGLoMo)
S3method(completeMarginal,"function")
S3method(completeMarginal,default)
S3method(crossValidate,EMLassoGLoMo)
S3method(getLambdas,LambdaHelper)
S3method(getLambdas,lambdaregion)
S3method(getMinMaxPosLikeGlmnet,cv.glmnet)
S3method(getMinMaxPosLikeGlmnet,default)
S3method(getSafeFunction,default)
S3method(getSafeFunction,unsafefunction)
S3method(getUnsafeFunction,default)
S3method(getUnsafeFunction,unsafefunction)
S3method(imputeDs2FitDs,default)
S3method(imputeDs2FitDs,dfrConversionProps)
S3method(imputeDs2FitDs,dfrConversionPropsEx)
S3method(imputeDs2FitDsProps,default)
S3method(imputeDs2FitDsProps,normalImputationConversion)
S3method(length,EMLasso.1l.param)
S3method(outcomeModelValidationReusables,default)
S3method(outcomeModelValidationReusables,lognet)
S3method(postProcessEMLasso,GLoMo)
S3method(postProcessEMLasso,default)
S3method(postProcessEMLasso1l,default)
S3method(postProcessEMLasso1l,lognet)
S3method(predict,EMLassoGLoMoImputationData)
S3method(predictProb,lognetProbabilityReusable)
S3method(predictorModelSamplingReusables,GLoMo)
S3method(print,unsafefunction)
S3method(removeScaling,default)
S3method(removeScaling,dfrConversionPropsEx)
S3method(retrieveLambdas,default)
S3method(retrieveLambdas,smartLambdaRetriever)
S3method(sampleConditional,GLoMo)
S3method(simplyValidate,EMLassoGLoMo)
export(EMLasso)
export(EMLasso.1l)
export(EMLasso.1l.param)
export(EMLassoFromDir)
export(acceptOrRejectFunction)
export(checkConvergence.glmnet)
export(collectImputationModels)
export(completeMarginal)
export(constButWarnFunction)
export(convergenceCheckCreator)
export(convergenceDiagnostics)
export(crossValidate)
export(cv.MI.logreg)
export(findReasonableLambdaHelper)
export(fit.glmnet)
export(fit.lognet)
export(fit.logreg)
export(getLambdas)
export(getMinMaxPosLikeGlmnet)
export(getSafeFunction)
export(getUnsafeFunction)
export(illegalToSmryLegalFunction)
export(illegals2Null)
export(illegalsCalculatedConstCountered)
export(illegalsCountered)
export(imputeDs2FitDs)
export(imputeDs2FitDsProps)
export(isIllegal)
export(lognetProbabilityReusable)
export(logregLikeGlmnet)
export(marginalCompleter)
export(newIllegals)
export(normalImputationConversion)
export(outcomeModelValidationReusables)
export(plotCoefConvergence)
export(postProcessEMLasso)
export(postProcessEMLasso1l)
export(predictProb)
export(predictorModelSamplingReusables)
export(removeIllegals)
export(removeScaling)
export(repeatedPredictedProbAUC)
export(repeatedlyPredictOut)
export(retrieveLambdas)
export(sampleConditional)
export(setDebugmodeEMLasso)
export(simplyValidate)
export(smartLambdaRetriever)
export(specialLegalX)
export(thresHolding)
export(typicalScaleAndCenter)
export(typicalTransformations)
export(validateFunction.lognet)
import(GLoMo)
import(Matrix)
import(NumDfr)
import(addendum)
import(glmnet)
